<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.pkinsellaweb.BabyMate">
    <uses-permission android:name="android.permission.INTERNET" />
    <application
        android:hardwareAccelerated="true"
        android:allowBackup="true"
        android:icon="@drawable/launchlogo"
        android:label="BabyMate"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:label">
        <activity android:name=".SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".AI" />
        <activity android:name=".Strat" />
        <activity android:name=".MMD" />
        <activity
            android:name=".MainActivity"
            android:label="Home" />

        <activity
            android:name=".VideoScreen"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            />
        <activity android:name=".ViewTemp" />
        <activity android:name=".MessageScreen" />
        <activity
            android:name=".Temp"
            android:label="Temperature"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".Message"
            android:label="System Messages"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".UserProfile"
            android:label="Profile" />
        <activity
            android:name=".Dashboard"
            android:label="Dashboard" />
        <activity android:name=".Music" />
        <activity
            android:name=".TempScreen"
            android:label="Temperature" />
        <activity android:name=".MessageOptions" />
        <activity android:name=".Notifications"></activity>
    </application>

</manifest>